/* global */
body {
    color: white;
    background-color: #020614;
    margin: 0px;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

hr {
    height: 2px;
    width: 80%;
    color: white;
    background-color: white;
    border: 2px solid white;
    border-radius: 2px;
}
